* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

.formulario_contato_campo {
  border: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
}

a,
button {
  padding: 10px 20px;
  border-radius: 4px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  scroll-margin-top: 74px;
}

section h2 {
  position: relative;
  width: auto;
  margin: 0 auto;
}

section h2::after {
  content: '';
  width: 60%;
  height: 4px;
  background-color: #6E3D94;

  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3,
a,
button,
p {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

body {
  color: #f8f8f8;
  background-color: #020202;
  font-family: Verdana, Arial, sans-serif;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  section {
    gap: 40px;
    scroll-margin-top: 70px;
  }
}